.form{
    margin-top: 5px;
  

}
  .signup{
    text-align: right;
    color: black;
    margin-top: -400px; 
    margin-left: 300px;
    padding: 10px;
  }
  .sign{
    text-align: center;
    margin-left:450px;
    padding: 15px;
  }
  .sub{
    margin-right: 70px;
  }
  